<div class="card mat-elevation-z4">
  <ng-container *ngIf="genre as genre">
    <div>
      <div class="clickable" [routerLink]="'/genre/' + genre.value">
        <div class="split">
          <div class="single-container">
            <img class="single-img" [src]="genre.coverArtUrls[0]" loading="lazy" alt="" crossorigin="anonymous" width="300" height="300">
          </div>
        </div>
        <div class="split">
          <div class="stacked-container">
            <ng-container *ngFor="let coverArtUrl of genre.coverArtUrls.slice(1); let i = index">
              <img class="stacked-img" [src]="coverArtUrl" loading="lazy" alt="" crossorigin="anonymous" width="300" height="300">
            </ng-container>
          </div>
        </div>
      </div>
      <div *ngIf="genre.value" class="album-overlay clickable" style="bottom: 50px;" (click)="playRandomByGenre(genre.value)">
        <mat-icon class="play-card" [color]="'primary'">play_arrow</mat-icon>
      </div>
    </div>
    <div class="card-body">
      <div class="title" [title]="genre.value || 'No genre'">{{genre.value || 'No genre'}}</div>
    </div>
  </ng-container>
</div>

