<div style="width: 100%;">
  <div class="slider">
    <app-player-slider (sliderChange)="setCurrentTime($event)" [disabled]="!playerService.songLoaded()"
                       [value]="playerService.currentProgress"
                       class="progress-slider"></app-player-slider>
  </div>
  <div class="controls">
    <div class="controls-start">
      <div class="art">
        <img [src]="coverArtUrl()" alt="" crossorigin="anonymous" height="60" width="60">
      </div>
      <div class="info">
        <div [title]="playerService.currentSong?.title"
             class="title-player title">{{playerService.currentSong?.title}}</div>
        <div [title]="playerService.currentSong?.artist"
             class="artist-player title subtitle">{{playerService.currentSong?.artist}}</div>
      </div>
    </div>
    <div class="controls-middle">
      <button (click)="playRandomSongs()" mat-icon-button>
        <mat-icon>music_note</mat-icon>
      </button>
      <button (click)="playerService.toggleShuffle()" mat-icon-button>
        <mat-icon [class.highlight]="shuffle">shuffle</mat-icon>
      </button>
      <button (click)="playerService.toggleRepeat()" mat-icon-button>
        <mat-icon *ngIf="repeat === Repeat.One; else repeatdefault" class="highlight">repeat_one</mat-icon>
        <ng-template #repeatdefault>
          <mat-icon [class.highlight]="repeat === Repeat.All">repeat</mat-icon>
        </ng-template>
      </button>
      <button (click)="playerService.previousSong()" [disabled]="!playerService.songLoaded()" mat-icon-button>
        <mat-icon>skip_previous</mat-icon>
      </button>
      <button (click)="playerService.togglePaused()" [disabled]="!playerService.songLoaded()" mat-icon-button>
        <mat-icon [color]="'primary'" [inline]="true" class="primary-play-btn">{{getPlayIcon()}}</mat-icon>
      </button>
      <button (click)="playerService.nextSong()" [disabled]="!playerService.songLoaded()" mat-icon-button>
        <mat-icon>skip_next</mat-icon>
      </button>
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>{{getVolumeIcon()}}</mat-icon>
      </button>
      <button [routerLink]="'/queue'" mat-icon-button>
        <mat-icon>queue_music</mat-icon>
      </button>
      <button [routerLink]="'/account'" mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <mat-slider (input)="onInputChange($event)" [color]="'primary'" [step]="0.05" [value]="playerService.playerVolume"
                    max="1" min="0" vertical="true"></mat-slider>
      </mat-menu>
    </div>
    <div class="controls-end"></div>
  </div>
</div>
