<div class="container">
  <div class="row">
    <div (click)="playArtist()" class="col-12 col-sm-3 gx-sm-4 g-0 clickable artist-container">
      <ng-container *ngIf="artist?.coverArtUrls?.length === 1; else splitImg">
        <img [src]="artist?.coverArtUrls![0]" alt="" class="artist-img-single" crossorigin="anonymous" height="300"
             loading="lazy" width="300">
      </ng-container>
      <ng-template #splitImg>
        <div *ngFor="let coverArt of artist?.coverArtUrls" class="artist-img-split-container">
          <img [src]="coverArt" alt="" class="artist-img-split" crossorigin="anonymous" height="300" loading="lazy"
               width="300">
        </div>
      </ng-template>
    </div>
    <div class="col-12 col-sm-5 pl-4 pb-3">
      <h3 class="artist-title">{{artist?.name}}</h3>
      <div class="artist-info">
        <div>{{artist?.albumCount}} albums</div>
      </div>
    </div>
  </div>
  <app-album-list [albums]="albums"></app-album-list>
</div>
