<div class="card mat-elevation-z4">
  <ng-container *ngIf="album as album">
    <div class="album-box clickable">
      <div class="album">
        <div [routerLink]="'/album/' + album.id" class="album-container">
          <img [src]="album.coverArtUrl" [title]="album.album" alt="" class="img-responsive" crossorigin="anonymous"
               height="300" loading="lazy" width="300">
        </div>
        <div (click)="playAlbum(album.id)" class="album-overlay clickable">
          <mat-icon [color]="'primary'" class="play-card">play_arrow</mat-icon>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div [title]="album.album" class="title">{{album.album}}</div>
      <div [routerLink]="'/artist/' + album.artistId" [title]="album.artist"
           class="title subtitle link">{{album.artist}}</div>
    </div>
  </ng-container>
</div>
