<div class="card mat-elevation-z4">
  <ng-container *ngIf="artist as artist">
    <div class="artist-box clickable">
      <div class="artist">
        <div [routerLink]="'/artist/' + artist.id" class="artist-container">
          <ng-container *ngFor="let coverArt of artist.coverArtUrls">
            <img [src]="coverArt" [title]="artist.name" alt="" class="img-responsive" crossorigin="anonymous"
                 height="300" loading="lazy" width="300">
          </ng-container>
        </div>
        <div (click)="playArtist(artist)" class="album-overlay clickable">
          <mat-icon [color]="'primary'" class="play-card">play_arrow</mat-icon>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div [title]="artist.name" class="title">{{artist.name}}</div>
    </div>
  </ng-container>
</div>
