<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3 gx-sm-4 g-0 clickable album-img-container" (click)="playSongs()">
      <img class="album-img" [src]="album?.coverArtUrl" alt="" crossorigin="anonymous" [title]="album?.album" width="300" height="300">
    </div>
    <div class="col-12 col-sm-5 pl-4 pb-3">
      <h3 class="album-title">{{album?.album}}</h3>
      <div class="album-info">
        <div>{{album?.artist}}</div>
        <div>{{album?.year}}</div>
        <div>{{duration}}</div>
        <div>{{songCount}} songs</div>
      </div>
    </div>
  </div>
  <app-song-list [songs]="songs" [hideAlbum]="true"></app-song-list>
</div>
