.app-container {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-view {
  overflow: auto;
}

@media (max-width: 670px) {
  .main-view {
    height: calc(100% - 144px);
  }
}

@media (min-width: 670px) {
  .main-view {
    height: calc(100% - 108px);
  }
}
