<button type="button" (click)="addAllToQueue()">Add all to queue</button>
<div style="max-height: 400px; overflow: auto;">
  <table mat-table [dataSource]="songs">
    <ng-container matColumnDef="img">
      <td mat-cell *matCellDef="let element"><img [src]="element.coverArtUrl" alt=""></td>
    </ng-container>
    <ng-container matColumnDef="title">
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="play(row)"></tr>
  </table>
</div>
