@use '@angular/material' as mat;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$ripask-audio-primary: mat.define-palette(mat.$orange-palette, 400);
$ripask-audio-accent: mat.define-palette(mat.$gray-palette, A200, 100, A400);
$ripask-audio-warn: mat.define-palette(mat.$red-palette);

$ripask-audio-theme: mat.define-light-theme((
  color: (
    primary: $ripask-audio-primary,
    accent: $ripask-audio-accent,
    warn: $ripask-audio-warn,
  )
));

@include mat.legacy-core-theme($ripask-audio-theme);
@include mat.all-legacy-component-themes($ripask-audio-theme);

/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/bootstrap.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-color-from-palette($ripask-audio-accent, lighter);
}

.mat-menu-panel {
  min-width: 0 !important;
}

.highlight {
  color: mat.get-color-from-palette($ripask-audio-primary, darker);
}

.active {
  opacity: 1 !important;
  border-bottom: 2px solid white;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.subtitle.title {
  opacity: .7;
  font-weight: initial;
}

.mat-slider-track-fill {
  background-color: mat.get-color-from-palette($ripask-audio-primary, darker);
}

.clickable {
  cursor: pointer;
}

img {
  background: url("/assets/no-image.png");
  background-size: contain;
}

img {
  background-color: lightgray;
}

.card-body {
  padding: 10px !important;
}

p {
  margin: 0 !important;
}

.album-overlay {
  background-color: mat.get-color-from-palette($ripask-audio-accent, lighter);
  font-size: 32px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 10;
  border: solid mat.get-color-from-palette($ripask-audio-primary, darker) 2px;
  border-radius: 100px;
}

.album-overlay:hover {
  background-color: mat.get-color-from-palette($ripask-audio-primary, lighter) !important;
  transition: .5s ease;
}

.play-card {
  font-size: 32px;
  height: 100% !important;
  width: 100% !important;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
