<div class="container">
  <h3>Login</h3>
  <div class="row">
    <div class="col">
      <label class="d-block" for="username">Username</label>
      <div>
        <input id="username" type="text" [(ngModel)]="username">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label class="d-block" for="password">Password</label>
      <div>
        <input id="password" type="password" [(ngModel)]="password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label class="d-block" for="server">Server</label>
      <div>
        <input id="server" type="text" [(ngModel)]="server">
      </div>
    </div>
  </div>
  <button type="button" mat-raised-button color="primary" (click)="save()">Save</button>
</div>
