<div class="container">
  <h3>Login</h3>
  <div class="row">
    <div class="col">
      <label class="d-block" for="username">Username</label>
      <div>
        <input [(ngModel)]="username" id="username" type="text">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label class="d-block" for="password">Password</label>
      <div>
        <input [(ngModel)]="password" id="password" type="password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label class="d-block" for="server">Server</label>
      <div>
        <input [(ngModel)]="server" id="server" type="text">
      </div>
    </div>
  </div>
  <button (click)="save()" color="primary" mat-raised-button type="button">Save</button>
</div>
